<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Rubik:wght@300;400&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/HTML5/styles.css">
    
    <title>PakiMemo</title>
</head>
<body>
    <header>
        <img class='imgLogo' src="../../assets/PakiLogoTopo.png" alt="PakiMemo Logo">
 
        <address class="ender">
            <p>Rua Paço do Elefantinho, 123</p>
            <p>Tel: (21) 4321-5678</p>
            <p>contato@paquiderme.com.br</p>
        </address>
    </header>
    <nav>
        <ul>
            <li><a href="/HTML5/views/home.html">INICIAL</a></li>
            <li><a href="/HTML5/views/memorias.html">MEMÓRIAS</a></li>
            <li><a href="/HTML5/views/hds.html">HDs/SSDs</a></li>
            <li><a href="/HTML5/views/cadastro.html">CADASTRO</a></li>
            <li><a href="/HTML5/views/compras.html">COMPRAS</a></li>
        </ul>
    </nav>
    <section class="apres">
        <form action="" class="FormBox">
            <h2>Cadastro</h2>
            <fieldset class="FSLinhaInteira">
                <legend>Identificação</legend>
                    <div class="LinhaForm">
                        <div class="LabBox"><label for="email">E-mail:</label></div>
                        <input type="text" class="InpBoxGnd" name="email">
                    </div>
                <div class="LinhaForm">
                    <div class="ColEsq">
                        <label for="senha">Senha:</label>
                        <input type="password" class="InpBoxMed" name="senha">
                    </div>
                    <div class="ColDir">
                        <label for="confirmar-senha">Confirme:</label>
                        <input type="password" class="InpBoxMed" name="confirmar-senha">
                    </div>
                </div>
            </fieldset>
            <fieldset class="FSLinhaInteira">
                <legend>Dados Pessoais</legend>
                <div class="LinhaForm">
                    <div class="LabBox"><label for="nome">Nome:</label></div>
                    <input type="text" class="InpBoxGnd" name="nome">
                </div>
                <div class="LinhaForm" id="linhaEnder">
                    <div class="LabBox"><label for="endereco">Endereço:</label></div>
                    <input type="text" class="InpBoxGnd" name="endereco" id="inpEnder">
                </div>
                <div class="LinhaForm">
                    <div class="ColEsq">
                        <label for="telefone">Telefone:</label>
                        <input type="text" class="InpBoxMed" name="telefone">
                    </div>
                    <div class="ColDir">
                        <label for="celular">Celular:</label>
                        <input type="text" class="InpBoxMed" name="celular">
                    </div>
                </div>
                <fieldset class="FSColEsq">
                    <legend>Nascimento</legend>
                    <label for="nascimento"></label>
                    <input type="date" name="nascimento">
                </fieldset>
                <fieldset class="FSColDir" id="gender">
                    <legend>Gênero</legend>
                    <div>
                        <input type="radio" name="Mas" id="masc">
                        <label for="Mas">Mas</label>
                    </div>
                    <div>
                        <input type="radio" name="Fem" id="masc">
                        <label for="Fem">Fem</label>
                    </div>
                    <div>
                        <input type="radio" name="Outro" id="masc">
                        <label for="Outro">Outro</label>
                    </div>
                </fieldset>
            </fieldset>
            <div class="botoes">
                <button type="submit">Comprar</button>
                <button type="reset">Limpar</button>
            </div>
        </form>
    </section>
</body>
</html>