<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Rubik:wght@300;400&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/HTML5/styles.css">
    
    <title>PakiMemo</title>
</head>
<body>
    <header>
        <img class='imgLogo' src="../../assets/PakiLogoTopo.png" alt="PakiMemo Logo">
 
        <address class="ender">
            <p>Rua Paço do Elefantinho, 123</p>
            <p>Tel: (21) 4321-5678</p>
            <p>contato@paquiderme.com.br</p>
        </address>
    </header>
    <nav>
        <ul>
            <li><a href="home.html">INICIAL</a></li>
            <li><a href="memorias.html">MEMÓRIAS</a></li>
            <li><a href="hds.html">HDs/SSDs</a></li>
            <li><a href="cadastro.html">CADASTRO</a></li>
            <li><a href="compras.html">COMPRAS</a></li>
        </ul>
    </nav>
    <section class="apres">
        <form action="" class="FormBox">
            <h2>Cadastro</h2>
            <fieldset class="FSLinhaInteira">
                <legend>Identificação</legend>
                    <div class="LinhaForm">
                        <div class="LabBox"><label for="email">E-mail:</label></div>
                        <input type="text" class="InpBoxGnd" name="email" id="idEmail">
                        <div class="ColDir" id="senhaBox">
                            <div class="LabBox"><label for="senha">Senha:</label></div>
                            <input type="text" class="InpBoxGnd" name="senha" id="senhaCad">
                        </div>
                    </div>
                    <div class="ColEsq" id="loginCad">
                        <i>Se você ainda não tem cadastro, clique <a href="/HTML5/views/cadastro.html">aqui</a>!</i>
                    </div>
                
                </div>
            </fieldset>
            <fieldset class="FSLinhaInteira">
                <legend>Lista de Compras</legend>
                <div class="LinhaForm">
                    <div class="LabBox"><label for="produtos">Produtos:</label></div>
                    <select name="produtos" id="produtos" id="listSelProdutos">
                        <optgroup label="Memória DDR3">
                            <option value="Kingston 4 Gb">Kingston 4Gb</option>
                            <option value="Samsung 8 Gb">Samsung 8 Gb</option>
                        </optgroup>
                        <optgroup label="Memória DDR4">
                            <option value="Kingston Fury 8 Gb">Kingston Fury 8 Gb</option>
                            <option value="Corsair Vengeance 8 Gb">Corsair Vengeance 8 Gb</option>
                        </optgroup>
                        <optgroup label="HD Sata III">
                            <option value="Western Digital 500 Gb">Western Digital 500 Gb</option>
                            <option value="Seagate 1 Tb">Seagate 1 Tb</option>
                        </optgroup>
                        <optgroup label="SSD Sata III">
                            <option value="Samdisk 480 Gb">Samdisk 480 Gb</option>
                            <option value="Kingston 960 Gb">Kingston 960 Gb</option>
                        </optgroup>
                        <optgroup label="SSD M2">
                            <option value="Kingston 500 Gb">Kingstoon 500 Gb</option>
                            <option value="Western Digital 240 Gb">Western Digital 240 Gb</option>
                        </optgroup>
                    </select>
                    <div class="ColDir" id="btnIncluir">
                        <button>Incluir</button>
                    </div>
                </div>
                <textarea name="lista-produtos" id="lista-produtos" cols="50" rows="3"></textarea>
                <div class="ColDir">
                    <div class="LabBox"><label for="valor">Valor: R$</label></div>
                    <input type="text" class="InpBoxMed">
                </div>
            </fieldset>
            <fieldset class="FSLinhaInteira">
                <legend>Dados do Cartão</legend>
                <div id="numCartao">
                    <label for="numero">Número:</label>
                    <input type="number" name="numero" id="numero">
                </div>
                <div>
                    <label for="validade">Validade:</label>
                    <input type="month" name="mes" id="mes">
                    <input type="number" min="1900" max="2099" step="1" value="2025" />
                </div>
                <div>
                    <label for="parcelas">Parcelas:</label>
                    <input type="number" name="parcelas" id="parcelas" step="1ss">                    
                    x Sem Juros
                </div>
                <fieldset class="FSColDir" id="fsBandeira">
                    <legend>Bandeira:</legend>
                    <input type="radio" name="visa" id="visa">
                    <label for="visa">Visa</label>
                    <input type="radio" name="master" id="master">
                    <label for="master">Master</label>
                    <input type="radio" name="elo" id="elo">
                    <label for="elo">Elo</label>
                </fieldset>
            </fieldset>
            <div class="botoes">
                <button type="submit">Comprar</button>
                <button type="reset">Limpar</button>
            </div>
        </form>
    </section>
</body>
</html>