<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Rubik:wght@300;400&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/HTML5/styles.css">
    
    <title>PakiMemo</title>
</head>
<body>
    <header>
        <img class='imgLogo' src="../../assets/PakiLogoTopo.png" alt="PakiMemo Logo">
 
        <address class="ender">
            <p>Rua Paço do Elefantinho, 123</p>
            <p>Tel: (21) 4321-5678</p>
            <p>contato@paquiderme.com.br</p>
        </address>
    </header>
    <nav>
        <ul>
            <li><a href="/HTML5/views/home.html">INICIAL</a></li>
            <li><a href="/HTML5/views/memorias.html">MEMÓRIAS</a></li>
            <li><a href="/HTML5/views/hds.html">HDs/SSDs</a></li>
            <li><a href="/HTML5/views/cadastro.html">CADASTRO</a></li>
            <li><a href="/HTML5/views/compras.html">COMPRAS</a></li>
        </ul>
    </nav>
    <section class="apres">
        <table class="tabDisco">
            <tr>
               <th class="tableTitle" colspan="5"> HDs e SSDs Internos</th>
            </tr>
            <tr>
                <th class="linTH">Tipo/Interface</th>
                <th class="linTH">Fabricante</th>
                <th class="linTH">Capacidade</th>
                <th class="linTH">Foto</th>
                <th class="linTH">Preço</th>
            </tr>
            <tr>
                <td class="colTH"rowspan="2"> HD Sata III</td>
                <td>Western Digital</td>
                <td>500 Gb</td>
                <td><img class="imgDisco" src="/assets/HD_WD_500gb_70.jpg" alt=""></td>
                <td><span class="preco">R$ 170,00</span></td>
            </tr>
            <tr>
                <td>Seagate</td>
                <td>1 Tb</td>
                <td><img class="imgDisco" src="/assets/HD_Seagate_1Tb_70.jpg" alt=""></td>
                <td><span class="preco">R$ 350,00</span></td>
            </tr>
            <tr>
                <td class="colTH" rowspan="2">SSD Sata III</td>
                <td>Samdisk</td>
                <td>480 Gb</td>
                <td><img class="imgDisco" src="/assets/SSD_Samdisk_480Gb_70.jpg" alt=""></td>
                <td><span class="preco">R$ 380,00</span></td>
            </tr>
            <tr>
                <td>Kingston</td>
                <td>960 Gb</td>
                <td><img class="imgDisco" src="/assets/SSD_Kingston_960Gb_70.jpg" alt=""></td>
                <td><span class="preco">R$ 700,00</span></td>
            </tr>
            <tr>
                <td class="colTH" rowspan="2">SSD M2</td>
                <td>Kingston</td>
                <td>500 Gb</td>
                <td><img class="imgDisco" src="/assets/SSD_Kingston_M2_5000Gb_70.jpg" alt=""></td>
                <td><span class="preco">R$ 410,00</span></td>
            </tr>
            <tr>
                <td>Western Digital</td>
                <td>240 Gb</td>
                <td><img class="imgDisco" src="/assets/SSD_WD_M2_240Gb_70.jpg" alt=""></td>
                <td><span class="preco">R$ 270,00</span></td>
            </tr>
        </table>
    </section>
</body>
</html>