<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Rubik:wght@300;400&display=swap" rel="stylesheet"> 

    <script src="../scripts/hds.js"></script>

    <link rel="stylesheet" href="/HTML5/styles.css">
    <link rel="stylesheet" href="../styles/hds.css">

    <title>PakiMemo</title>
</head>
<body onload="addEventListeners()">
    <header>
        <img class='imgLogo' src="../../assets/PakiLogoTopo.png" alt="PakiMemo Logo">
 
        <address class="ender">
            <p>Rua Paço do Elefantinho, 123</p>
            <p>Tel: (21) 4321-5678</p>
            <p>contato@paquiderme.com.br</p>
        </address>
    </header>
    <nav>
        <ul>
            <li><a href="home.html">INICIAL</a></li>
            <li><a href="memorias.html">MEMÓRIAS</a></li>
            <li><a href="hds.html">HDs/SSDs</a></li>
            <li><a href="cadastro.html">CADASTRO</a></li>
            <li><a href="compras.html">COMPRAS</a></li>
        </ul>
    </nav>
    <section class="apres">
        <table class="tabDisco">
            <tr>
               <th class="tableTitle" colspan="3"> HDs e SSDs Internos</th>
            </tr>
            <tr>
                <th class="linTH">Tipo/Interface</th>
                <th class="linTH">Fabricante</th>
                <th class="linTH">Descrição</th>
            </tr>
            <tr>
                <td class="colTH" rowspan="2"> HD Sata III</td>
                <td><a class="hd" data-index="0" href="" >Western Digital</a></td>
                <td rowspan="6">
                    <h3 id="titDes"></h3>
                    <img id="imgDes" src="/assets/vazio.jpg" alt="">
                    <div id="textoDes">
                        <p id="interface"></p>
                        <p id="capacidade"></p>
                        <p id="preco"></p>
                    </div>
                </td>

            </tr>
            <tr>
                <td><a class="hd" data-index="1" href="" >Seagate</a></td>

            </tr>
            <tr>
                <td class="colTH" rowspan="2">SSD Sata III</td>
                <td><a class="hd" data-index="2" href="">Samdisk</a></td>

            </tr>
            <tr>
                <td><a class="hd" data-index="3" href="" >Kingston</a></td>

            </tr>
            <tr>
                <td class="colTH" rowspan="2">SSD M2</td>
                <td><a class="hd" data-index="4" href="" >Kingston</a></td>

            </tr>
            <tr>
                <td><a class="hd" data-index="5" href="" >Western Digital</a></td>

            </tr>
        </table>
    </section>
</body>
</html>