<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Rubik:wght@300;400&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/HTML5/styles.css">
    
    <title>PakiMemo</title>
</head>
<body>
    <header>
        <img class='imgLogo' src="../../assets/PakiLogoTopo.png" alt="PakiMemo Logo">
 
        <address class="ender">
            <p>Rua Paço do Elefantinho, 123</p>
            <p>Tel: (21) 4321-5678</p>
            <p>contato@paquiderme.com.br</p>
        </address>
    </header>
    <nav>
        <ul>
            <li><a href="/HTML5/views/home.html">INICIAL</a></li>
            <li><a href="/HTML5/views/memorias.html">MEMÓRIAS</a></li>
            <li><a href="/HTML5/views/hds.html">HDs/SSDs</a></li>
            <li><a href="/HTML5/views/cadastro.html">CADASTRO</a></li>
            <li><a href="/HTML5/views/compras.html">COMPRAS</a></li>
        </ul>
    </nav>
    <section class="listaMemo">
        <img src="/assets/PakiLogo.png" alt="PakiMemo, seu computador com memória de elefante">
        <p>Aqui você encontra HDs, SSDs e Memórias para o seu computador.</p>
    </section>
</body>
</html>