html {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --blackground: #FBFCFF;
    --overlay: #040911;
    --icons-and-detail: #A5B0C1;
}