<section>
    <h2>Entre como participante</h2>
    <form action="">
        <label class="sr-only" for="room-id">Código da sala</label>
        <input type="number" name="Código da sala" placeholder="Código da sala" id="room-id">
        <button>
            <img src="images/log-in.svg" alt="Entrar na sala">
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie sua própria sala, de forma fácil</h2>
    <a class="button outlined" href="/create-room">
        <img src="images/users.svg" alt="Criar sala">
        Criar sala
    </a>
</section>