html {
    --fundo: #551177;
    --texto: #FFFF00;
    --link: #FFFF00;
    --link-visitado: #EEEE00;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--fundo);
    justify-content: center;


}
header {
    display: block;
    text-align: center;
}
header img {
    display: inline;
}

.apres {
    text-align: center;
}
.apres img {
    display: inline;
}
nav {
    display: block;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    color: #FFFF00;
    display: inline;
    float: left;
    margin: auto;
    
}