body {
    background: rgb(85, 1, 85);
    justify-content: center;
    max-width: 50%;
    margin: auto;
}
header {
    display: flex;
    justify-content: center;
}

nav {display: block;}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    

}

li {
    color: #FFFF00;
    display: inline;
    float: left;
    margin: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}